# Ignorar node_modules de ambos
backend/node_modules/
frontend/node_modules/

# Ignorar entornos
backend/.env
frontend/.env

# Ignorar carpetas temporales
.DS_Store
*.log

# Ignorar editores
.vscode/
.idea/
